@page "/store-manager"
@inject IUserSession UserSession
@inject NavigationManager NavigationManager
@using Store_Manager.Components.Pages.StoreManagerSection.StoreManagerTabs
@using Store_Manager.Services.UserService

<PageTitle>Store Manager</PageTitle>

<h1>Store Manager</h1>

<Tabs>
    <Tab Title="Stores">
        <StoresTab />
    </Tab>
    <Tab Title="Chains">
        <ChainsTab />
    </Tab>
</Tabs>

@code {
    protected override void OnInitialized()
    {
        if (!UserSession.IsLoggedIn)
            NavigationManager.NavigateTo("/employee-login");
    }
}
