@page "/store-manager"
@using Store_Manager.Components.Pages.StoreManagerSection.StoreManagerTabs

<PageTitle>Store Manager</PageTitle>

<h1>Store Manager</h1>

<Tabs>
    <Tab Title="Stores">
        <StoresTab />
    </Tab>
    <Tab Title="Chains">
        <ChainsTab />
    </Tab>
</Tabs>
