@page "/employee-login"

<h3>LoginPage</h3>

<div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" placeholder="name@example.com" @bind="email" />

    <label class="form-label">Password</label>
    <input class="form-control" type="password" @bind="password" />
</div>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
}
